<!-- templates/crear_cliente.html -->

{% extends "_base.html" %}

{% block content %}
<form class="max-w-md mx-auto" method="POST">
    {% csrf_token %}

    <!-- Mostrar mensajes de error si los hay -->
    {% if form.errors %}
        <div class="bg-red-200 p-3 rounded mb-5">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="text-red-600">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="nombre" id="nombre" class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-purple-600 peer" placeholder="" required />
        <label for="nombre" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-purple-600">Nombre</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="tel" name="celular" id="celular" pattern="[0-9]{10}" class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-purple-600 peer" placeholder="" required />
        <label for="celular" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-purple-600">Celular</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="direccion" id="direccion" class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-purple-600 peer" placeholder="" required />
        <label for="direccion" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-purple-600">Dirección</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <textarea name="observaciones" id="observaciones" rows="4" class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-purple-600 peer" placeholder=""></textarea>
        <label for="observaciones" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-purple-600">Observaciones</label>
    </div>
    <button type="submit" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Crear Cliente</button>
</form>  
{% endblock content %}
