<!-- templates/listar_clientes.html -->

{% extends "_base.html" %}

{% block content %}

    <!-- Mostrar mensajes de éxito -->
    {% if messages %}
        <div class="bg-secondary-100 p-3 rounded mb-5">
            {% for message in messages %}
                <p class="text-primary-600">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                <div class="flex justify-between items-center">
                    <div>
                        Lista de Clientes
                        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                            Aquí puedes encontrar la información de los clientes registrados en el sistema.
                        </p>
                    </div>
                    <a href="{% url 'crear_cliente' %}" 
                        class="inline-block px-4 py-2 text-secondary-600 text-sm font-medium rounded hover:bg-secondary-50 hover:underline">
                        Crear Cliente
                    </a>
                </div>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Nombre</th>
                    <th scope="col" class="px-6 py-3">Número de Celular</th>
                    <th scope="col" class="px-6 py-3">Dirección</th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Acciones</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ cliente.nombre }}
                    </th>
                    <td class="px-6 py-4">
                        {{ cliente.celular }}
                    </td>
                    <td class="px-6 py-4">
                        {{ cliente.direccion }}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a href="{% url 'editar_cliente' cliente.id %}" 
                           class="inline-block px-4 py-2 rounded font-medium text-secondary-600 hover:bg-secondary-50 hover:underline">
                            Editar
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="4" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
                        No hay clientes registrados.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}